@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;

  --light: #FFFFFF;
  --dark: #1B1B1B;
  --accented-dark: #090B11;
  --gray: #9D9DA0;
  --blue: #7F52FF;
  --magenta: #C811E2;
  --accented-magenta: #9B02AC;
  --lightened-purple: #8F00E7;
  --dark-purple: #2C0047;
  --red: #EF4857;
  --plum: #860152;
  --yellow: #FF9419;

  --background: #090B11;
  --foreground: #FFFFFF;

  --font-display: 2rem; 
  --font-display-subtext: 1rem;
  --font-heading: 1.75rem;
  --font-heading-subtext: 1.25rem;
  --font-banner-heading: 1.5rem;
  --font-title: 1.25rem;
  --font-body: 1rem;
  --font-small: 0.875rem;
  --font-body-spec: 1rem;
}

@media (min-width: 640px) {
  :root {
    --font-display: 2.5rem;
    --font-display-subtext: 1.25rem;
    --font-heading: 2rem;
    --font-heading-subtext: 1.5rem;
    --font-banner-heading: 1.75rem;
    --font-title: 1.5rem;
    --font-body: 1.125rem;
    --font-small: 1rem;
    --font-body-spec: 1.125rem;
  }
}

@media (min-width: 768px) {
  :root {
    --font-display: 3rem;
    --font-display-subtext: 1.5rem;
    --font-heading: 2.25rem;
    --font-heading-subtext: 1.75rem;
    --font-banner-heading: 2rem;
    --font-title: 1.75rem;
    --font-body: 1.25rem;
    --font-small: 1.125rem;
    --font-body-spec: 1.25rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-display: 92px;
    --font-display-subtext: 39px;
    --font-heading: 43px;
    --font-heading-subtext: 29px;
    --font-banner-heading: 35px;
    --font-title: 20px;
    --font-body: 16px;
    --font-small: 13px;
    --font-body-spec: 16px;
  }
}

.text-display {
  font-weight: 500;
  @apply
    text-[40px]/[40px]
    md:text-[80px]/[80px]
    lg:text-[90px]/[90px]
    xl:text-[92px]/[92px];
}

.text-display-subtext {
  @apply
    text-[26px]/[26px]
    md:text-[36px]/[36px]
    lg:text-[38px]/[38px]
    xl:text-[39px]/[39px];
}

.text-heading {
  font-weight: 500;
  @apply
    text-[30px]/[34px]
    md:text-[40px]/[46px]
    lg:text-[42px]/[48px]
    xl:text-[43px]/[49px];
}

.text-heading-subtext {
  @apply
    text-[20px]/[24px]
    md:text-[26px]/[32px]
    lg:text-[28px]/[36px]
    xl:text-[29px]/[39px];
}

.text-banner-heading {
  font-weight: 500;
  @apply
    text-[24px]/[28px]
    sm:text-[28px]/[32px]
    md:text-[32px]/[38px]
    lg:text-[34px]/[40px]
    xl:text-[35px]/[42px];
}

.text-title {
  font-weight: 500;
  @apply
    text-[18px]/[24px]
    md:text-[19px]/[26px]
    lg:text-[20px]/[28px];
}

.text-body {
  @apply
    text-[14px]/[20px]
    md:text-[16px]/[24px];
}

.text-small {
  @apply
    text-[11px]/[15px]
    md:text-[12px]/[16px];
}

.text-body-spec {
  @apply
    text-[14px]/[18px]
    md:text-[16px]/[20px];
}


/* Body styles */
body {
  @apply bg-background text-foreground text-body;
}

/* Button styles */
.btn-primary {
  @apply bg-light px-6 py-2.5 text-dark rounded-full transition-colors duration-300 ease-in-out hover:bg-blue hover:text-light;
}

.btn-secondary {
  @apply px-6 py-2.5 rounded-full border border-light transition-colors duration-300 ease-in-out hover:border-magenta;
}

.bg-mesh {
  background-image: url('/bgmesh.webp');
  @apply bg-cover md:bg-contain bg-bottom md:bg-top bg-no-repeat;
}
